.card-custom {
  margin-bottom: 70px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  &:hover {
    transition: all 0.3s ease-in-out;
    .card-custom-image {
      overflow: hidden;
      transform: scale(1.05);
    }
  }
  &-image {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    height: 260px;
    background-size: cover;
    background-position: center;
  }
  &-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 185px;
    margin: 20px auto;

    color: #FFFFFF;
  }
  &-text {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 20px;

    color: #FFFFFF;
  }
  &-price {
    padding: 18px 0;
    text-align: center;
    background: #1F1D1D;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
  }
  &-line {
    height: 10px;
  }
}
.noCursor {
  cursor: none;
}
.fire {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
}
.pagination {
  &-item {
    margin: 5px;
    span {
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      transition: all 0.3s ease-in-out;

      color: #FFFFFF;
      &.active {
        color: red;
      }
    }
    &:hover {
      cursor: pointer;
      span {
        color: red;
      }
    }
  }
}
