.footer {
  background: black;
  padding: 60px 0 60px 0;
  &-phone {
    span {
      font-weight: bold;
      font-size: 40px;
      line-height: 49px;
      /* identical to box height */

      text-align: center;
      color: white;
      @media(max-width: 768px) {
        font-size: 30px;
        line-height: 43px;
      }
      &.red {
        color: #FF0303;
      }
    }
  }
  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
  }
  &-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

  }
  &-link {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
    margin: 0 10px;
    &.active {
      color: red;
    }
    &:hover {
      color: #FF0202;
      text-decoration: none;
    }
  }
}
