html,
body {
    margin: 0;
    background-color: #000000 !important;
    padding: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
#nprogress .bar {
    background: red !important;

}
#nprogress .spinner-icon {
    border-top-color:red !important;
    border-left-color: red !important;
}
