.header-main{
  background: #1F1D1D;
  margin: 50px 0;
  &-phone {
    &-icon {
      @media (max-width: 567px) {
        display: none !important; ;
        line-height: 34px;
      }
    }
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    @media (max-width: 1220px) {
      font-size: 20px;
      line-height: 25px;
    }
    @media (max-width: 769px) {
      font-size: 30px;
      line-height: 34px;
    }
    @media (max-width: 567px) {
      display: none ;
      line-height: 34px;
    }
  }
}
