.container {
  max-width: 1390px !important;

}

.banner {
  padding: 50px 0;
  position: relative;
  margin-bottom: 50px;
  background-size: cover;
  @media (max-width: 567px) {
    padding: 30px 0;
    background-position: center;
  }
  &-title{
    position: relative;
    z-index: 99999;
    font-weight: bold;
    font-size: 75px;
    text-align: center;
    line-height: 135px;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    text-shadow: white 1px 1px 2px, white -1px -1px 2px, white -1px 1px 2px, white 1px -1px 2px;
    @media (max-width: 567px) {
      font-size: 48px;
      line-height: 60px;
    }
  }
  &:before{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    content: "";
    background: black;
    opacity: 0.3;
  }
}

.main {
  &-black-block {
    background: #121212;
    max-width: 650px;
    padding: 60px 0;
    text-align: center;
    margin-bottom: 15px;
    @media (max-width: 770px) {
      max-width: 350px;
    }
    &-icon {
    }
    &-title{
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      color: #FFFDFD;
      margin-bottom: 20px;
      margin-top: 20px;
      @media(max-width: 768px) {
        font-size: 22px;
        line-height: 27px;
      }
    }
    &-text {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      /* or 120% */

      display: flex;
      align-items: center;
      text-align: center;

      color: #FFFFFF;
      @media(max-width: 768px) {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
  &-order {
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    &-reb-bg {
      display: inline-flex;
      padding-right: 120px;
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
      background: linear-gradient(90deg, #FF0000 0%, #000000 100%);
    }

    &-title{
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #FFFDFD;
      @media(max-width: 768px) {
        font-size: 24px;
        line-height: 30px;
      }

      &-red-line {
        background: linear-gradient(
                        270deg
                , #FF0000 0%, #000000 100%);
        position: absolute;
        height: 100%;
        width: 17vw;
        left: -17vw;
        top: 0;
      }
    }
    &-banner {
      padding-top: 97px;
      padding-bottom: 115px;
    }
  }
  &-text {
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
    @media(max-width: 768px) {
      font-size: 18px;
      line-height: 25px;
    }
    &.max-width {
      max-width: 830px;
    }
     span {
      font-weight: normal;
      font-size: 25px;
      line-height: 30px;

      color: #FFFFFF;
      &.red {
        color: #FF0000
      }
    }
    &-sm {
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;

      color: #FFFDFD;

    }
  }
  &-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */


    color: #FFFFFF;
    @media(max-width: 768px) {
      font-size: 34px;
      line-height: 40px;
    }
    &-line {
      background: linear-gradient(90deg, #FFFEFE -1.38%, rgba(196, 196, 196, 0) 71.93%);
      height: 10px;
    }
  }
  &-gray-bg{
    background: #252525;
    padding: 80px 0;
  }
  &-banner {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    &-btn {
      background: #FF0000;
      border-radius: 15px;
      padding: 5px 33px;
      font-weight: bold;
      font-size: 40px;
      line-height: 49px;
      text-transform: uppercase;
      color: #FFFFFF;

      @media(max-width: 768px) {
        padding: 5px 33px;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
      }




    }
    &-logo {
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.998003) 32.18%, rgba(5, 5, 5, 0.972729) 53.97%, rgba(196, 196, 196, 0) 75.05%);
      &-text {
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;

        color: #FFFFFF;
        @media(max-width: 768px) {
          font-size: 21px;
          line-height: 30px;
        }

      }
    }
    &-city {
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      color: #FFFFFF;
    }
    &-phone {
      font-weight: 500;
      font-size: 40px;
      line-height: 49px;
      color: white;
      margin-left: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: red;
      }


      @media(max-width: 768px) {
        font-size: 20px;
        line-height: 25px;
      }

    }
    &-header-container {
      background: black;
    }
  }
}
.navBar {
  display: flex;
  @media (max-width: 1138px) {
    display: none !important;
  }
  &-item {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 20px;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #FF0202;
      text-decoration: none;
    }
    &.active {
      color: #FF0202;
    }
  }
}
.font-30 {
  font-size: 30px;
  @media (max-width: 567px) {
    font-size: 22px;
  }
}
.reb-btn-link {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {

    background: darken(#FF0202, 10%)
  }
}
.cursor-pointer {
  cursor: pointer;
}
.action-mb {  margin-bottom: 100px;}
.action-block {
  margin-bottom: 30px;
  width: 100%;
  height:23vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.action-description {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: left;

  color: #FFFFFF;
}

.bm-burger-button {
  display: none;
  @media (max-width: 992px) {
    display: block;
  }
}
body {
  background: black !important;
}
main {
  overflow: hidden;
}
.burger {
  transition: all 0.5s ease-in-out;
  transform: translateX(100vw);
  height: 100vh;
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  width: 100%;
  background: black;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  &.active {
    transform: translateX(0);
  }
  &-item {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    &.active {
      color: red;
    }
  }
  &-btn {
    height: 50px;
    width: 50px;
    display: none;
    @media (max-width: 1138px) {
      display: flex;
    }
  }
}
.line-white {
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(0,0,0,1) 100%);
}
.header-numberPhone {
  &:hover {
    .header-main-phone {
      transition: all 0.3s ease-in-out;
      color: red;
    }

  }
}
