$Circle: "Circle", Arial, Georgia, sans-serif;

$blue: #1160AA;
$orange: #F58634;
$purple: #353C7B;
$red: #ff0000;
$dark: #2E2E2E;
$timeTr: 0.3s;
$spacer: 10px;

$container-max-widths: (
        sm: 100%,
        md: 100%,
        lg: 100%,
        xl: 1340px
);
